<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.501499953296-0l1ej06mjrsdipn8ttnmo2rmc9nl114k</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sāmwaad requires access to your microphone to capture real-time spoken conversations for live captioning and on-device speaker diarization.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Sāmwaad uses speech recognition to convert spoken conversations into live on-screen text transcripts.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to add participants to the group.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to add context to session summaries.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Onboarding</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
